# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.local

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/gradle/
android/gradlew
android/gradlew.bat
*.apk
*.aab
*.iml
.idea/

# OS
.DS_Store
Thumbs.db
